body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#sidebar
{
    margin-left: 25px;
    float: left;
    //width: 145px;
    font-size: small;
}



#banner-text
{
    margin-left: 2em;
}

#right-sidebar
{
    width: 225px;
    height: 450px;
    float: right;
    //background-color: lightgray;
    //border: 1px solid red;
}

.most-popular-sidebar
{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid red;
    background-color: lightgray;
}

.right-side-list
{
    list-style-type: none;
}

#main-content
{
    margin-left: auto;
    margin-right: auto;
    //width: 300px;
    //border: 1px solid red;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu
{
    margin-top: 0px;
}

#menu1
{
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

#menu2
{
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

li:hover #menu1
{
    visibility: visible;
}

li:hover #menu2
{
    visibility: visible;
}

#master-control
{
    width: 500px;
}

.container
{
    //width: 400px;
}

.thumbnail
{
    max-width: 125px;
}

#main-div
{
    width: 500px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}



h1
{
    display: inline;
}






#tfheader
{
	//background-color:#c3dfef;
}
#tfnewsearch
{
	//float: inherit;
    display: inline;
	padding:20px;
}
.tftextinput
{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
    width: 300px;
}
.tfbutton 
{
    margin: 0;
    padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover 
{
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
	/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner 
{
    border: 0;
}
.tfclear
{
    clear:both;
}