@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Villa.</h1>
<h2 class="text-danger">Ekkert fannst.</h2>
<p>Vertu viss um að þú hafir slegið rétt inn</p>

