@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Villa.</h1>
<h2 class="text-danger">Ekkert fannst.</h2>
<p>Vertu viss um að þú hafir slegið rétt inn</p>

<h4> Ekkert fannst </h4>
<ul>
    <li> Athugaðu hvort rétt hafi verið slegið inn. </li>
    <li> Textinn sem þú ert að leita að er ekki til. </li>
    <li> @Html.ActionLink("Senda inn beiðni fyrir texta", "Requests", "Request"). </li>
</ul

