@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h4> Ekkert fannst </h4>
<p> Athugaðu hvort þú hafir slegið rétt inn. Má bjóða þér að @Html.ActionLink("senda inn beiðni", "Requests", "Request"). </p>

