@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h3> Ekkert fannst </h3>
<ul>
    <li> Athugaðu hvort rétt hafi verið slegið inn. </li>
    <li> Textinn sem þú ert að leita að er ekki til. </li>
    <li> @Html.ActionLink("Senda inn beiðni fyrir texta", "Requests", "Request"). </li>
</ul>


