@model SubHub.Models.Media

@{
    ViewBag.Title = "Enginn texti";
}

<h2>Enginn texti</h2>
<p>Ekki fannst texti á þessu tungumáli fyrir myndina @Model.Name, má bjóða þér að @Html.ActionLink("senda inn beiðni", "NewRequest", "Request")?</p>

@using (Html.BeginForm("NewSubtitle", "Subtitle", new { id = Model.Id }, FormMethod.Get))
{
    <input type="submit" value="Senda inn textaskrá" class="tfbutton get-text-button" />
}