@model SubHub.Models.Subtitle

    @{
        ViewBag.Title = "SubtitleComments";
    }

<h3>Skrifa athugasemd fyrir "@Model.Name"</h3>
<hr class="subtitle-hr" />


@Html.HiddenFor(model => HttpContext.Current.User.Identity.Name, new { @id = "user" })
@Html.HiddenFor(model => model.Id, new { @id = "subtitleId" })&#x09;
    <div id="asdf">
        
        @using (Html.BeginForm("DownloadSubtitle", "Subtitle", new { id = Model.Id }, FormMethod.Get))
        {
            <input id="get-subtitle" type="submit" value="Hala niður" class="tfbutton get-text-button" />
        }
        @*<hr class="subtitle-hr" />*@
        <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>

        <p hidden id="emptyText" style="color: red">&#x09;Comment text cannot be empty!</p>
        <button id="add-comment" onclick="AddComment()" class="graybutton get-text-button">Skrá inn athugasemd</button>
        
        
    </div>
<span hidden id="errorMessage" style="color: red">&#x09;Smelltu @Html.ActionLink("hér", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) til að skrá þig inn.</span>
    <div class="comments">

    </div>
<div>
    <script type="text/html" id="comment-template">
        <li class="list-group-item">
            <span data-link-wrap="deletelink" class="glyphicon glyphicon-remove"></span>
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span class="text-primary" data-content="user"></span>
                <span data-content="theComment"></span>
            </p>
            <span class="text-muted" data-content="theDateSubmitted"></span>
        </li>
    </script>
</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/viewcomments.js"></script>
