@{
    ViewBag.Title = "Home Page";
}

<<<<<<< HEAD
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./jquery.flipster.js"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
=======
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.tcycle.js"></script>
<!--
<div class="panel panel-default" id="front-area">
    <div class="panel-body">-->
        <div id="popular-master">
            <h2>Vinsælustu textarnir</h2>
            <div class="front-5-group">
                <h3>Bíómyndir</h3>
                
                <a href="#" class="thumbnail front-images">
                    <img src="http://media.sfx.co.uk/files/2012/09/The-Hobbit-An-Unexpected-Journey-poster-230912.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>
                
                <a href="#" class="thumbnail front-images">
                    <img src="http://www.rotoscopers.com/wp-content/uploads/2013/09/frozen-poster-cast-new.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://fedrev.net/wp-content/uploads/2014/01/TheWolfofWallStreet_iTunesPre-sale_1400x2100.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://khpbooks.com/cinemaknifefight/wp-content/uploads/2014/05/the_amazing_spider_man_2_poster.png" alt="...">
                    <h5>sækja texta</h5>
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://wac.450f.edgecastcdn.net/80450F/screencrush.com/files/2013/10/captain-america-2-poster-full.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>
            </div>

            <div class="front-5-group">
                <h3>Þættir</h3>

                <a href="#" class="thumbnail front-images">
                    <img src="http://www.spoilersguide.com/wp-content/uploads/2011/08/new_girl_ver2_xlg.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>
>>>>>>> b325ae237f0088f32972c4fa3c1fe0c0d606fe6c

                <a href="#" class="thumbnail front-images">
                    <img src="http://seat42f.com/images/stories/tvshows/Greys/Season7/Greys-Anatomy-Season-7-Poster.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://media.popcultcha.com.au/media/catalog/product/imported_older/4070%20Adventure%20Time%20IceKing%20lg_3.png" alt="...">
                    <h5>sækja texta</h5>
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://geek-news.mtv.com/wp-content/uploads/2011/03/got-jon-poster.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>

                <a href="#" class="thumbnail front-images">
                    <img src="http://www.tribute.ca/tribute_objects/images/movies/Workaholics_Season_Two/workaholicsseasontwo.jpg" alt="...">
                    <h5>sækja texta</h5>
                </a>
            </div>
        </div>

        <!--<div id="slider-div">
            <div class="tcycle">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p1.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p2.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p3.jpg">
                <img class="slider-picture-size" src="http://jquery.malsup.com/cycle2/images/p4.jpg">
            </div>
        </div>-->
    <!--</div>
</div>
-->
<!--
<div id="front-area">
    
</div>
-->
