@{
    ViewBag.Title = "Login Failure";
}

<h2>Innskráning mistókst</h2>
<ul>
    <li> Athugaðu hvort notandanafn og lykilorð hafi verið rétt slegin inn. </li>
    <li> Ef þú átt ekki þegar aðgang. <li>@Html.ActionLink("Nýskráðu þig hér.", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li></li>

</ul>
